<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteru</title>
</head>
<body>
    <h2>Update Listing Details</h2>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" >
        <input name="listing[title]" value="<%=listing.title%>" placeholder="enter title" type ="text" >
        <br/>
        <br/>
        <textarea name="listing[description]" placeholder="enter description"
            rows="5" cols="40"
        ><%=listing.description%></textarea>
        <br/>
        <br/>
        <input name="listing[image]" placeholder="enter image url/link" value="<%=listing.image%>" type ="text">
        <br/>
        <br/>
        <input name="listing[price]" placeholder="enter price" value="<%=listing.price%>" type ="number">
        <br/>
        <br/>
        <input name="listing[location]" placeholder="enter location" value="<%=listing.location%>" type ="text">
        <br/>
        <br/>
        <input name="listing[country]" placeholder="enter country" value="<%=listing.country%>" type ="text">
        <br/>
        <br/>
        <button>Update</button>
    </form>
</body>
</html>