<%- layout("/layouts/boilerplate") %>
    <div class="my-2 mx-4">
        <p class="text-xl lg:text-2xl mb-2">
            <%= listing.title %>
        </p>
        <div class="info">
            <div class="carousel carousel-center rounded-box w-full sm:grid">
                <div id="slide1" class="carousel-item relative w-full">
                    <img src="<%=listing.image%>" class="w-full sm:w-44"/>
                    <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between sm:hidden">
                        <a href="#slide4" class="btn btn-circle"><img class="rotate-180" src="/assets/Chevron_right.svg" alt="chevron_left"></a>
                        <a href="#slide2" class="btn btn-circle"><img src="/assets/Chevron_right.svg" alt="chevron_right"></a>
                    </div>
                </div>
            </div>
            <div class="">
                <p class="card-text">
                    <br />
                    <%= listing.description %>
                        <br />
                        &#8377;<%= listing.price.toLocaleString("en-IN")%> for two nights only
                            <br />
                            <%= listing.location %>
                                <br />
                                <%= listing.country %>
                </p>
            </div>
        </div>

        <div class="options btns">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>
        </div>

        <div class="reviews col-8 offset-3 mb-3">
            <hr />
            <h4>Give a review</h4>
            <form method="post" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label"></label>
                    <input id="rating" type="range" min="1" max="5" name="review[rating]" class="form-range" required />
                </div>

                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comments</label>
                    <textarea id="comment" placeholder="Leave a comment" class="form-control" cols="10" rows="5"
                        name="review[comment]" required></textarea>
                    <div class="invalid-feedback">Please give a feedback</div>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>

            <% if(listing.reviews.length !==0){ %>
                <hr />
                <p><b>All Reviews</b></p>
                <div class="row">
                    <% for(review of listing.reviews){ %>
                        <div class="card col-5 mb-3 ms-3">
                            <div class="card-body p-2">
                                <div class="card-title d-flex justify-content-between mb-0"><b>Jan doe</b><b>
                                        <%= review.rating %> Stars
                                    </b></div>
                                <p class="small">
                                    <%= review.createdAt.toLocaleDateString("en-GB",{ day: "2-digit" , month: "2-digit"
                                        , year: "2-digit" }) + " " + review.createdAt.toLocaleTimeString("en-GB", {
                                        hour: "2-digit" , minute: "2-digit" , hour12: false}) %>
                                </p>
                                <p class="card-text">
                                    <%= review.comment %>
                                </p>
                            </div>
                            <form method="post" class="mb-3 text-end"
                                action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                <button class="btn btn-dark btn-sm">Delete</button>
                            </form>
                        </div>
                        <% } %>
                </div>
                <% } %>
        </div>
    </div>